
<div class="gallery-card">
  <% products.each_with_index do |product, index| %>
   <% break if index >= 4 %>
    <%= link_to product_path(product) do %>
      <div class="content-card">
        <%= image_tag "logo.png", class:"card-product-image"%>
        <h3><%= product.name %></h3>
        <h6>R$ <%= product.price %></h6>
        <p>Only <%= product.stock %> in stock!</p>
        <button>Compre Agora</button>
      </div>
    <% end %>
  <% end %>
</div>
