<div class="container">
  <div class="cards">
    <% products.each_with_index do |product, index| %>
      <% break if index >= 4 %>
      <%= link_to product_path(product) do %>
        <div class="card-product p-2">
          <%= cl_image_tag product.photo.key, class: "card-product-image",  crop: :crop %>
          <div class="card-product-info">
            <div class="card-product-name mx-2"><%= product.name %></div>
            <div class="card-product-price mx-4">R$<%= product.price %>0</div>
            <div class="card-product-stock">Apenas <%= product.stock %> no estoque!</div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
