<div class="container">
<div class="gallery-card-jairo">
  <% products.each_with_index do |product, index| %>
   <% break if index >= 8 %>
    <%= link_to product_path(product) do %>
      <div class="content-card">
      <% product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class:"card-product-image border-radius-60"%>
      <% end %>
        <h3><%= truncate(product.name, length: 12) %></h3>
        <h6>R$ <%= product.price %></h6>
        <p>Apenas <%= product.stock %> em estoque!</p>
        <button>Compre Agora</button>
      </div>
    <% end %>
  <% end %>
</div>

</div>
