<div class="container text-color-azul">
  <div class="row py-4">
    <div class="col margin-top-100">
      <h1>Pedido número: <%= @order.id %></h1>
      <h3>Status do pedido: <%= @order.state == "pending" ? "Em andamento" : @order.state %></h2>
      <ul class="list-unstyled">
        <li><strong>Data do pedido: </strong> <%= @order.created_at.to_date %></li>
        <li><strong>Produto: </strong> <%= @order.product.name %></li>
        <li><strong>Valor total: </strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p class="margin-botton-100">Entrega estimada em <strong>2 dias úteis</strong></p>
     <%= link_to "Acompanhar pedido", user_orders_path(user_id: current_user.id), class: "btn-gui" %>
    </div>
  </div>
</div>
