<div class = "container-home">
  <img class= "img-home" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img home">
</div>
  <h1><strong>Categorias</strong></h1>
    <div class = "card-category d-flex justify-content-evenly">

      <div class ="card-acc">
      <%= link_to  image_tag("https://cdnm.westwing.com.br/glossary/uploads/br/2016/01/18152424/aparelhos-eletronicos-sobre-mesa-unsplash-c-a8321.jpg", class: "img-acc"), category_path(category: "Acessórios")%>
      <strong class = "d-flex justify-content-center">Acessórios</strong>
      </div>

      <div class ="card-cell">
      <%= link_to  image_tag("https://images.tcdn.com.br/img/img_prod/487288/smartphone_samsung_galaxy_a54_5g_128gb_8gb_ram_octa_core_camera_tripla_de_50mp_tela_infinita_de_6_4__9699_1_af334aeb37199f2b939ab781f8c3af94.jpg", class: "img-cell"), category_path(category: "Smartphones")%>
      <strong class = "d-flex justify-content-center">Smartphones</strong>
      </div>

      <div class ="card-not">
      <%= link_to  image_tag("https://m.media-amazon.com/images/I/61vFA1pGU2L.jpg", class: "img-not"), category_path(category: "Notebooks")%>
      <strong class = "d-flex justify-content-center">Notebooks</strong>
      </div>

      <div class ="card-cad">
      <%= link_to  image_tag("https://m.media-amazon.com/images/I/61vFA1pGU2L.jpg", class: "img-cad"), category_path(category: "Cadeiras")%>
      <strong class = "d-flex justify-content-center">Cadeiras Gamer</strong>
      </div>

    </div>
    <h2><strong>Produtos</strong></h2>
  <%= render 'shared/cards', products: @products %>
