
<div class="container">

<div id="myCarousel" class="carousel slide mb-6 pointer-event margin-top-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item item-carousel">
      <img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item item-carousel">
        <img src="https://images.unsplash.com/photo-1584438784894-089d6a62b8fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item item-carousel active">
      <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <h1 class="h2"><strong>Categorias</strong></h1>
    <div class = "card-category d-flex justify-content-evenly flex-wrap margin-top-100">

      <div class ="card-acc">
        <%= link_to category_path(category: "Acessórios") do %>
          <%= image_tag("https://cdnm.westwing.com.br/glossary/uploads/br/2016/01/18152424/aparelhos-eletronicos-sobre-mesa-unsplash-c-a8321.jpg", class: "img-acc") %>
          <strong class = "d-flex justify-content-center">Acessórios</strong>
      <% end %>
      </div>

      <div class ="card-cell">
        <%= link_to category_path(category: "Smartphones") do %>
          <%= image_tag("https://images.tcdn.com.br/img/img_prod/487288/smartphone_samsung_galaxy_a54_5g_128gb_8gb_ram_octa_core_camera_tripla_de_50mp_tela_infinita_de_6_4__9699_1_af334aeb37199f2b939ab781f8c3af94.jpg", class: "img-cell") %>
          <strong class = "d-flex justify-content-center">Smartphones</strong>
        <% end %>
      </div>

      <div class ="card-not">
        <%= link_to category_path(category: "Notebooks") do %>
          <%= image_tag("https://m.media-amazon.com/images/I/61vFA1pGU2L.jpg", class: "img-not") %>
          <strong class = "d-flex justify-content-center">Notebooks</strong>
        <% end %>
      </div>

      <div class ="card-cad">
        <%= link_to category_path(category: "Cadeiras") do %>
          <%= image_tag("https://images.tcdn.com.br/img/img_prod/503257/cadeira_gamer_eaglex_reclinavel_giratoria_vermelha_639_1_20191014100716.jpg", class: "img-cad") %>
          <strong class = "d-flex justify-content-center">Cadeiras Gamer</strong>
          <% end %>
      </div>

    </div>

</div>


    <h2 class="h2 margin-top-100"><strong>Produtos</strong></h2>
  <%= render 'shared/cards', products: @products %>
