<div class = "container-home">
  <img class= "img-home" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img home">
</div>
  <h1 class="h1"><strong>Categorias</strong></h1>
    <div class = "card-category">
      <div class = "card-acc">
        <%= image_tag "https://cdnm.westwing.com.br/glossary/uploads/br/2016/01/18152424/aparelhos-eletronicos-sobre-mesa-unsplash-c-a8321.jpg", class: "img-acc" %>
        <p><strong>Acessórios</strong></p>
        </div>
          <div class = "card-cell">
          <%= image_tag "https://images.tcdn.com.br/img/img_prod/487288/smartphone_samsung_galaxy_a54_5g_128gb_8gb_ram_octa_core_camera_tripla_de_50mp_tela_infinita_de_6_4__9699_1_af334aeb37199f2b939ab781f8c3af94.jpg", class: "img-cell"%>
          <p><strong>Smartphones</strong></p>
          </div>
            <div class = "card-not">
              <%= image_tag "https://m.media-amazon.com/images/I/61vFA1pGU2L.jpg", class: "img-not" %>
              <p><strong>Notebooks</strong></p>
            </div>
              <div class = "card-cad">
                <%= image_tag "https://www.comfy.com.br/media/catalog/product/cache/be00e66d6037499d540c5ce12579d442/c/a/cadeira_gamer_xperience_deluxe_cinza_base_girato_ria_brac_o_ajusta_vel_1.webp", class: "img-cad" %>
                <p><strong>Cadeiras Gamer</strong></p>
              </div>
    </div>
    <h2 class="h2"><strong>Produtos</strong></h2>
  <%= render 'shared/cards', products: @products %>
