<div class="container">
  <h2 class="product-page-title text-color-azul h2"><strong>Detalhes do produto</strong></h2>
  <div class="product-card-jairo-2 border-radius-60">
  <%# carrosel imagens %>
    <div id="carouselExampleControls" class="carousel slide  " data-bs-ride="carousel">
      <div class="carousel-inner  ">
        <% @product.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="carousel-item active ">
              <%= cl_image_tag photo.key, class:"d-block img-carousel", height: 450 %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class:"d-block img-carousel", height: 450 %>
            </div>
          <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <%# carrosel info %>
    <div class="item-info text-color-azul" >
      <h3 class="margin-top-20"><%= @product.name %></h3>
      <div class="margin-top-20"><%= truncate(@product.description, length: 130) %></div>

      <p class="color-gui mt-1"><strong><%= humanized_money_with_symbol(@product.price) %></strong>

      <p>Estoque: <%= @product.stock %></p>
      <div data-controller="show-form" data-show-form-price-value="<%= @product.price_cents %>">
        <%= simple_form_for [@product, @order] do |f| %>
          <%= f.input :quantity, input_html: { data: {action: "change->show-form#calculateTotalPrice", show_form_target: "input" }, min: '1', value: 1 } %>
          <%= f.button :submit, "Comprar", class: 'botao-compra border-radius-60', id:"cacete" %>
          <br>
          <span >Preço total:<span data-show-form-target="total"></span></span>
          <%# <p><span data-show-form-target="total"></span></p> %>
        <% end %>
      </div>
  </div>





    </div>
  </div>
  <h2 class="product-similar margin-top-100 h2">Produtos similares</h2>
  <%= render 'shared/cards', products: @products %>
</div>
