
<div class="container">
      <h1>Pagina detalhando o produto: <%= @product.name %></h1>
  <div class="item-card">
    <%# <div class="item-img"> %>
      <%= image_tag "https://m.media-amazon.com/images/I/81fO2C9cYjL.__AC_SY445_SX342_QL70_ML2_.jpg", class: "item-img" %>
    <%# </div> %>
    <div class="item-info">
      <p>Preço:<%= @product.price %></p>
      <div data-controller="show-form" data-show-form-price-value="<%= @product.price %>">
        <%= simple_form_for [@product, @order] do |f| %>
          <%= f.input :quantity, input_html: { data: {action: "keyup->show-form#calculateTotalPrice", show_form_target: "input" } } %>
          <span>Preço total:</span>
          <span data-show-form-target="total"></span>
          <%= f.button :submit, "Comprar" %>
        <% end %>

      </div>

    </div>
  </div>
</div>
