<div class="container">
  <h2 class="product-page-title">Detalhes do produto</h2>
  <div class="item-card">
    <div class="item-img">
      <%= image_tag "https://m.media-amazon.com/images/I/81fO2C9cYjL.__AC_SY445_SX342_QL70_ML2_.jpg" %>
    </div>
    <div class="item-info" >
      <h3><%= @product.name %></h3>
      <div class="item-info-dscp"><%= @product.description %></div>
      <p>Preço: <%= @product.price %></p>
      <p>Estoque: <%= @product.stock %></p>
      <div data-controller="show-form" data-show-form-price-value="<%= @product.price %>">
        <%= simple_form_for [@product, @order] do |f| %>
          <%= f.input :quantity, input_html: { data: {action: "keyup->show-form#calculateTotalPrice", show_form_target: "input" } } %>
          <%= f.button :submit, "Comprar", class: 'btn btn-primary' %>
          <br>
          <span>Preço total:</span>
          <span data-show-form-target="total"></span>
        <% end %>
      </div>
    </div>
  </div>
  <h2 class="product-similar my-5">Produtos similares</h2>
  <%= render 'shared/cards', products: @products %>
</div>
