<!DOCTYPE html>
<html>
  <head>
    <title>EletronicsMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <br>
    <%= render "shared/footer" %>
    <%= alert %>
  </body>
</html>
